# Rust
target/
**/target/

# Go
bin/
crates/bbs-ssh-gateway/bbs-ssh-gateway
crates/bbs-ssh-gateway/.bin/
.env

# Editors/OS
.DS_Store
.idea/
.vscode/

# Node (just in case)
node_modules/

# Misc
*.log
